body{
    margin: 0;
    color: blue;
    
}
#box{
  width: 250px;
  height: 250px;
  border: 5px solid;
  font-size: 13em;
  text-align: center;
  background-color: rgb(116, 255, 114);

   transform: translateX(100px);
}
h1{
    color: red;
}
p{
    color: yellow;
}

a{
    color: green;
}